<h2 mat-dialog-title>Modifier la vente</h2>

<mat-dialog-content [formGroup]="form" style="display:flex;flex-direction:column;gap:12px;min-width:400px">

  <mat-form-field appearance="outline">
    <mat-label>Client</mat-label>
    <mat-select formControlName="idClient">
      <mat-option *ngFor="let c of clients" [value]="c.id">{{ c.nom }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Vendeur</mat-label>
    <mat-select formControlName="idVendeur">
      <mat-option *ngFor="let u of vendeurs" [value]="u.id">{{ u.nom }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date de vente</mat-label>
    <input matInput type="date" formControlName="dateVente"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Prix final ($)</mat-label>
    <input matInput type="number" formControlName="prixFinal"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mode de paiement</mat-label>
    <mat-select formControlName="modePaiement">
      <mat-option *ngFor="let m of modes" [value]="m.value">{{ m.label }}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Annuler</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid || loading" (click)="save()">
    <mat-icon *ngIf="loading">hourglass_empty</mat-icon>
    Enregistrer
  </button>
</mat-dialog-actions>
