<mat-sidenav-container class="shell">
  <!-- Side nav -->
  <mat-sidenav #drawer
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) ? false : true"
               class="sidenav">
    <div class="brand">
      <mat-icon>directions_car</mat-icon>
      <span>{{ 'NAV.BRAND' | translate }}</span>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"   routerLinkActive="nav-active"><mat-icon matListItemIcon>dashboard</mat-icon><span matListItemTitle>{{ 'NAV.DASHBOARD' | translate }}</span></a>
      <a mat-list-item routerLink="/voitures"    routerLinkActive="nav-active"><mat-icon matListItemIcon>directions_car</mat-icon><span matListItemTitle>{{ 'NAV.VOITURES' | translate }}</span></a>
      <a mat-list-item routerLink="/ventes"      routerLinkActive="nav-active"><mat-icon matListItemIcon>receipt_long</mat-icon><span matListItemTitle>{{ 'NAV.VENTES' | translate }}</span></a>
      <a mat-list-item routerLink="/clients"     routerLinkActive="nav-active"><mat-icon matListItemIcon>group</mat-icon><span matListItemTitle>{{ 'NAV.CLIENTS' | translate }}</span></a>
      <a mat-list-item routerLink="/entretiens"  routerLinkActive="nav-active"><mat-icon matListItemIcon>build</mat-icon><span matListItemTitle>{{ 'NAV.ENTRETIENS' | translate }}</span></a>
      <a mat-list-item routerLink="/documents"   routerLinkActive="nav-active"><mat-icon matListItemIcon>description</mat-icon><span matListItemTitle>{{ 'NAV.DOCUMENTS' | translate }}</span></a>
      <a mat-list-item routerLink="/mouvements"  routerLinkActive="nav-active"><mat-icon matListItemIcon>compare_arrows</mat-icon><span matListItemTitle>{{ 'NAV.MOUVEMENTS' | translate }}</span></a>
      <a mat-list-item routerLink="/paiements"   routerLinkActive="nav-active"><mat-icon matListItemIcon>payments</mat-icon><span matListItemTitle>{{ 'NAV.PAIEMENTS' | translate }}</span></a>
      <a mat-list-item routerLink="/users" *ngIf="isAdmin" routerLinkActive="nav-active"><mat-icon matListItemIcon>group</mat-icon><span matListItemTitle>{{ 'NAV.UTILISATEURS' | translate }}</span></a>
    </mat-nav-list>

    <div class="grow"></div>
    <button mat-stroked-button color="primary" class="logout" (click)="logout()">
      <mat-icon>logout</mat-icon>&nbsp;{{ 'NAV.DECONNEXION' | translate }}
    </button>
  </mat-sidenav>

  <!-- Main content -->

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="only-handset"><mat-icon>menu</mat-icon></button>
      <span class="title">AutoStock</span>
      <span class="spacer"></span>

      <!-- Language switcher -->
      <button mat-button [matMenuTriggerFor]="langMenu" class="lang-btn">
        <mat-icon>language</mat-icon>&nbsp;{{ currentLang | uppercase }}
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="setLang('fr')">
          <span [class.lang-active]="currentLang === 'fr'">🇫🇷 {{ 'LANG.FR' | translate }}</span>
        </button>
        <button mat-menu-item (click)="setLang('en')">
          <span [class.lang-active]="currentLang === 'en'">🇬🇧 {{ 'LANG.EN' | translate }}</span>
        </button>
      </mat-menu>

      <button mat-icon-button (click)="openProfileDialog()"><mat-icon>account_circle</mat-icon></button>
    </mat-toolbar>

    <div class="breadcrumbs">
      <mat-icon>chevron_right</mat-icon><a routerLink="/voitures">{{ 'LAYOUT.MES_VOITURES_BREADCRUMB' | translate }}</a>
    </div>

    <main class="content"><router-outlet></router-outlet></main>
  </mat-sidenav-content>
</mat-sidenav-container>
