<div class="header">
  <h2>Ventes</h2><span class="spacer"></span>
  <button mat-stroked-button color="primary" (click)="reload()">
    <mat-icon>refresh</mat-icon>&nbsp;Rafraîchir
  </button>
</div>
<mat-card class="card">
  <div class="table-wrap">
    <table mat-table [dataSource]="data" matSort>
      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef>Marque</th>
        <td mat-cell *matCellDef="let r">{{ r.marque }}</td>
      </ng-container>
      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef>Modele</th>
        <td mat-cell *matCellDef="let r">{{ r.modele }}</td>
      </ng-container>
      <ng-container matColumnDef="nomClient">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let r">{{ r.nomClient }}</td>
      </ng-container>
      <ng-container matColumnDef="nomVendeur">
        <th mat-header-cell *matHeaderCellDef>Vendeur</th>
        <td mat-cell *matCellDef="let r">{{ r.nomVendeur}}</td>
      </ng-container>
      <ng-container matColumnDef="prixFinal">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let r">{{ r.prixFinal | number:'1.0-0' }} $</td>
      </ng-container>
      <ng-container matColumnDef="modePaiement">
        <th mat-header-cell *matHeaderCellDef>Paiement</th>
        <td mat-cell *matCellDef="let r">{{ r.modePaiement }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let r">
          <button mat-icon-button color="warn" (click)="remove(r)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayed"></tr>
      <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
    </table>
  </div>
  <mat-paginator [length]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPage($event)"></mat-paginator>
</mat-card>
