<div class="header">
  <h2>{{ 'VENTES.TITRE' | translate }}</h2><span class="spacer"></span>
  <button mat-stroked-button color="primary" (click)="reload()">
    <mat-icon>refresh</mat-icon>&nbsp;{{ 'COMMON.RAFRAICHIR' | translate }}
  </button>
</div>
<mat-card class="card">
  <div class="table-wrap">
    <table mat-table [dataSource]="data" matSort>
      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.MARQUE' | translate }}</th>
        <td mat-cell *matCellDef="let r">{{ r.marque }}</td>
      </ng-container>
      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef>{{ 'VENTES.MODELE' | translate }}</th>
        <td mat-cell *matCellDef="let r">{{ r.modele }}</td>
      </ng-container>
      <ng-container matColumnDef="nomClient">
        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.CLIENT' | translate }}</th>
        <td mat-cell *matCellDef="let r">{{ r.nomClient }}</td>
      </ng-container>
      <ng-container matColumnDef="nomVendeur">
        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.VENDEUR' | translate }}</th>
        <td mat-cell *matCellDef="let r">{{ r.nomVendeur }}</td>
      </ng-container>
      <ng-container matColumnDef="prixFinal">
        <th mat-header-cell *matHeaderCellDef>{{ 'VENTES.PRIX' | translate }}</th>
        <td mat-cell *matCellDef="let r">{{ r.prixFinal | number:'1.0-0' }} $</td>
      </ng-container>
      <ng-container matColumnDef="modePaiement">
        <th mat-header-cell *matHeaderCellDef>{{ 'VENTES.PAIEMENT' | translate }}</th>
        <td mat-cell *matCellDef="let r">{{ r.modePaiement }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let r">
          <button mat-icon-button color="primary" (click)="edit(r)" *ngIf="isAdmin" [matTooltip]="'COMMON.MODIFIER' | translate">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="remove(r)" [matTooltip]="'COMMON.SUPPRIMER' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayed"></tr>
      <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
    </table>
  </div>
  <mat-paginator [length]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPage($event)"></mat-paginator>
</mat-card>
